
.tt-style-switch {
	position: relative;
	margin-left: 40px;
}
@media (max-width: 1024px) {
	.tt-style-switch {
		margin-left: 0;
		margin-right: 20px;
	}
}

.tt-style-switch-inner {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 32px;
	height: 32px;
	background-color: rgb(179 179 179 / 35%);
	line-height: 1;
	font-size: 15px;
	cursor: pointer;
	border-radius: 100%;
	transition: background-color .3s, color .3s;
}
.tt-style-switch-inner:hover {
}

.tt-stsw-dark {
	display: none;
}
[data-theme="light"] .tt-stsw-dark {
	display: block;
}
[data-theme="light"] .tt-stsw-light {
	display: none;
}

/* If header layout-2 is enabled. */
#tt-header.tt-header-alter .tt-style-switch {
}
@media (max-width: 1024px) {
	#tt-header.tt-header-alter .tt-style-switch {
		margin-left: 0;
		margin-right: 25px;
	}
}

/* Disable on "portfolio-slider.html" page (since it does not affect the elements on this page, it has been removed to avoid confusion). It is still visible in the mobile menu. */
body.tt-portfolio-slider-on:not(:is([data-menu-state="open"], [data-menu-state="opening"])) .tt-style-switch {
	display: none;
}


/* ------------------------------------------------------------- *
 * General
/* ------------------------------------------------------------- */

/* Selection */
[data-theme="light"] ::selection {
	color: var(--tt-dark-color);
	-webkit-text-fill-color: var(--tt-dark-color);
	text-shadow: none;
	background: var(--tt-main-color);
}
[data-theme="light"] ::-moz-selection {
	color: var(--tt-dark-color);
	-webkit-text-fill-color: var(--tt-dark-color);
	text-shadow: none;
	background: var(--tt-main-color); /* Firefox */
}
[data-theme="light"] ::-webkit-selection {
	color: var(--tt-dark-color);
	-webkit-text-fill-color: var(--tt-dark-color);
	text-shadow: none;
	background: var(--tt-main-color); /* Safari */
}


/* ------------------------------------------------------------- *
 * Logo
/* ------------------------------------------------------------- */

[data-theme="light"] .tt-logo-light {
	display: none;
}
[data-theme="light"] .tt-logo-dark {
	display: block;
}


/* ------------------------------------------------------------- *
 * Page header
/* ------------------------------------------------------------- */

/* If the page header background image is light (effect only if the image exist)
================================================ */
[data-theme="light"].ph-bg-is-light-on[data-ph-visible]:not([data-menu-state]) #tt-header:not([data-filled]) {
	color: var(--tt-light-color);
}

/* Make logo dark */
[data-theme="light"].ph-bg-is-light-on[data-ph-visible]:not([data-menu-state]) #tt-header:not([data-filled]) .tt-logo-light {
	display: none;
}
[data-theme="light"].ph-bg-is-light-on[data-ph-visible]:not([data-menu-state]) #tt-header:not([data-filled]) .tt-logo-dark {
	display: block;
}

/* Make menu items dark (for desctop only) */
@media (min-width: 1025px) {
	[data-theme="light"].ph-bg-is-light-on[data-ph-visible] #tt-header:not([data-filled]) .tt-main-menu-list > li > a, 
	[data-theme="light"].ph-bg-is-light-on[data-ph-visible] #tt-header:not([data-filled]) .tt-main-menu-list > li > .tt-submenu-trigger > a {
		color: var(--tt-light-color);
	}
	[data-theme="light"].ph-bg-is-light-on[data-ph-visible] #tt-header:not([data-filled]) .tt-submenu-master > .tt-submenu-trigger > a::after {
		background-color: var(--tt-light-color);
	}
}

/* Make mobile menu trigger dark */
[data-theme="light"].ph-bg-is-light-on[data-ph-visible]:not([data-menu-state]) #tt-header:not([data-filled]) .tt-m-menu-toggle-btn-text {
	color: var(--tt-light-color);
}
[data-theme="light"].ph-bg-is-light-on[data-ph-visible]:not([data-menu-state]) #tt-header:not([data-filled]) .tt-m-menu-toggle-btn span::before, 
[data-theme="light"].ph-bg-is-light-on[data-ph-visible]:not([data-menu-state]) #tt-header:not([data-filled]) .tt-m-menu-toggle-btn span::after {
	background-color: var(--tt-light-color);
}

/* Make header buttons dark */
@media (min-width: 1025px) { 
	[data-theme="light"].ph-bg-is-light-on #tt-header:not([data-filled]) .tt-btn-secondary {
		background-color: var(--tt-light-color);
	}
	[data-theme="light"].ph-bg-is-light-on #tt-header:not([data-filled]) .tt-btn-secondary > *, 
	[data-theme="light"].ph-bg-is-light-on #tt-header:not([data-filled]) .tt-btn-secondary > *::after {
		color: var(--tt-dark-color);
	}
	[data-theme="light"].ph-bg-is-light-on #tt-header:not([data-filled]) .tt-btn-outline {
		box-shadow: inset 0 0 0 2px var(--tt-light-color);
	}
	[data-theme="light"].ph-bg-is-light-on #tt-header:not([data-filled]) .tt-btn-outline > *, 
	[data-theme="light"].ph-bg-is-light-on #tt-header:not([data-filled]) .tt-btn-outline > *::after {
		color: var(--tt-light-color);
	}
	[data-theme="light"].ph-bg-is-light-on #tt-header:not([data-filled]) .tt-btn-link > *, 
	[data-theme="light"].ph-bg-is-light-on #tt-header:not([data-filled]) .tt-btn-link > *::after {
		color: var(--tt-light-color);
	}
	[data-theme="light"].ph-bg-is-light-on #tt-header:not([data-filled]) .tt-btn-line {
		background-color: var(--tt-light-color);
	}
}

/* Make page header elements dark */
[data-theme="light"].ph-bg-is-light-on #page-header,
[data-theme="light"].ph-bg-is-light-on #page-header a {
	color: var(--tt-light-color);
}
[data-theme="light"].ph-bg-is-light-on #page-header .tt-scroll-down text {
	fill: var(--tt-light-color);
}
[data-theme="light"].ph-bg-is-light-on #page-header .tt-scroll-down .tt-scrd-icon {
	color: var(--tt-light-color);
}

[data-theme="light"].ph-bg-is-light-on #page-header .ph-share-trigger,
[data-theme="light"].ph-bg-is-light-on #page-header .ph-share-buttons > ul > li a {
	color: var(--tt-light-color);
}

/* Make page header buttons dark */
[data-theme="light"].ph-bg-is-light-on #page-header .tt-btn-secondary {
	background-color: var(--tt-light-color);
}
[data-theme="light"].ph-bg-is-light-on #page-header .tt-btn-secondary > *, 
[data-theme="light"].ph-bg-is-light-on #page-header .tt-btn-secondary > *::after {
	color: var(--tt-dark-color);
}

[data-theme="light"].ph-bg-is-light-on #page-header .tt-btn-outline {
	box-shadow: inset 0 0 0 2px var(--tt-light-color);
}
[data-theme="light"].ph-bg-is-light-on #page-header .tt-btn-outline > *, 
[data-theme="light"].ph-bg-is-light-on #page-header .tt-btn-outline > *::after {
	color: var(--tt-light-color);
}

[data-theme="light"].ph-bg-is-light-on #page-header .tt-big-round-ptn-inner {
	color: var(--tt-light-color);
}
[data-theme="light"].ph-bg-is-light-on #page-header .tt-big-round-ptn-inner:hover, 
[data-theme="light"].ph-bg-is-light-on #page-header .tt-big-round-ptn-inner:focus {
	color: #FFF;
}

[data-theme="light"].ph-bg-is-light-on #page-header .tt-btn-link > *, 
[data-theme="light"].ph-bg-is-light-on #page-header .tt-btn-link > *::after {
	color: var(--tt-light-color);
}
[data-theme="light"].ph-bg-is-light-on #page-header .tt-btn-line {
	background-color: var(--tt-light-color);
}


/* ------------------------------------------------------------- *
 * If class "tt-section-bg-on" is enabled on parent element
/* ------------------------------------------------------------- */

[data-theme="light"] .tt-section-bg-on {
	color: var(--tt-dark-color);
}

[data-theme="light"] .tt-section-bg-on .tt-text-reveal > span {
	color: var(--tt-dark-color);
	-webkit-text-fill-color: rgb(255 255 255 / 20%);
}


/* Buttons 
=========== */
[data-theme="light"] .tt-section-bg-on .tt-btn-secondary {
	background-color: var(--tt-dark-color);
}
[data-theme="light"] .tt-section-bg-on .tt-btn-secondary > *, 
[data-theme="light"] .tt-section-bg-on .tt-btn-secondary > *::after {
	color: var(--tt-light-color);
}

[data-theme="light"] .tt-section-bg-on .tt-btn-outline {
	box-shadow: inset 0 0 0 2px var(--tt-dark-color);
}
[data-theme="light"] .tt-section-bg-on .tt-btn-outline > *, 
[data-theme="light"] .tt-section-bg-on .tt-btn-outline > *::after {
	color: var(--tt-dark-color);
}


/* ------------------------------------------------------------- *
 * tt-Ggrid
/* ------------------------------------------------------------- */

/* tt-Ggrid categories nav
=========================== */
[data-theme="light"] .ttgr-cat-nav {
	background-color: rgb(229 227 220 / 90%);
}


/* ------------------------------------------------------------- *
 * Horizontal accordion
/* ------------------------------------------------------------- */

/* Horizontal accordion item alternative hover (no effect on small screens!) */
@media (min-width: 1025px) {
	[data-theme="light"] .tt-hac-alter-hover .tt-hac-item:first-child,
	[data-theme="light"] .tt-hac-alter-hover .tt-hac-item[data-state="active"] {
		background-color: var(--tt-light-color);
		color: var(--tt-dark-color);
		border-color: transparent;
	}
	[data-theme="light"] .tt-hac-alter-hover .tt-hac-item:first-child[data-state="inactive"] {
		background-color: var(--tt-bg-color);
		color: var(--tt-text-color);
		border-color: var(--tt-border-color);
	}
}

/* Horizontal accordion item for small screens only (effects only with alternative hover!) */
@media (max-width: 1024px) {
	[data-theme="light"] .tt-hac-alter-hover .tt-hac-item {
		background-color: var(--tt-light-color);
		color: var(--tt-dark-color);
		border-color: transparent;
	}
	[data-theme="light"] .tt-hac-alter-hover .tt-hac-item .tt-btn-outline > *,
	[data-theme="light"] .tt-hac-alter-hover .tt-hac-item .tt-btn-outline > *:after {
		color: var(--tt-dark-color);
	}
	[data-theme="light"] .tt-hac-alter-hover .tt-hac-item .tt-btn-outline {
		box-shadow: inset 0 0 0 2px var(--tt-dark-color);
	}
	[data-theme="light"] .tt-hac-alter-hover .tt-hac-item-count::before {
		opacity: .6;
	}
}


/* ------------------------------------------------------------- *
 * Logo wall
/* ------------------------------------------------------------- */

[data-theme="light"] .tt-logo-wall-item,
[data-theme="light"] a.tt-logo-wall-item:hover {
	background-color: var(--tt-light-color);
}

[data-theme="light"] .tt-logo-wall.tt-lw-bordered a.tt-logo-wall-item:not(:hover) .tt-lv-img-dark {
	display: block;
}
[data-theme="light"] .tt-logo-wall.tt-lw-bordered a.tt-logo-wall-item:not(:hover) .tt-lv-img-light {
	display: none;
}


/* ------------------------------------------------------------- *
 * Content carousel 
/* ------------------------------------------------------------- */

[data-theme="light"] .tt-content-carousel.cc-pagination-outside .swiper-pagination-bullet:not(.swiper-pagination-bullet-active) {
	background-color: var(--tt-light-color);
}
[data-theme="light"] .tt-content-carousel.cc-pagination-outside .tt-cc-pagination-fraction {
	color: var(--tt-light-color);
}
[data-theme="light"] .tt-content-carousel.cc-pagination-outside .tt-cc-pagination-progressbar {
	background-color: rgb(139 138 138 / 30%);
}
[data-theme="light"] .tt-content-carousel.cc-pagination-outside .tt-cc-pagination-progressbar .swiper-pagination-progressbar-fill {
	background-color: var(--tt-light-color);
}


/* ------------------------------------------------------------- *
 * Portfolio sticky
/* ------------------------------------------------------------- */

[data-theme="light"] .tt-stp-item.stpi-bg-is-light,
[data-theme="light"] .tt-stp-item.stpi-bg-is-light .tt-stp-item-caption {
	color: var(--tt-light-color);
}


/* ------------------------------------------------------------- *
 * Portfolio slider 
/* ------------------------------------------------------------- */

/* If portfolio slider item background is light
================================================ */
[data-theme="light"].tt-posl-light-bg-on:not([data-menu-state]) #tt-header:not([data-filled]) {
	color: var(--tt-light-color);
}

/* Make logo dark */ 
[data-theme="light"].tt-posl-light-bg-on:not([data-menu-state]) #tt-header:not([data-filled]) .tt-logo-light {
	display: none;
}
[data-theme="light"].tt-posl-light-bg-on:not([data-menu-state]) #tt-header:not([data-filled]) .tt-logo-dark {
	display: block;
}

/* Make menu items dark (for desctop only) */
@media (min-width: 1025px) {
	[data-theme="light"].tt-posl-light-bg-on #tt-header:not([data-filled]) .tt-main-menu-list > li > a, 
	[data-theme="light"].tt-posl-light-bg-on #tt-header:not([data-filled]) .tt-main-menu-list > li > .tt-submenu-trigger > a {
		color: var(--tt-light-color);
	}
	[data-theme="light"].tt-posl-light-bg-on #tt-header:not([data-filled]) .tt-submenu-master > .tt-submenu-trigger > a::after {
		background-color: var(--tt-light-color);
	}
}

/* Make mobile menu trigger dark */
[data-theme="light"].tt-posl-light-bg-on:not([data-menu-state]) #tt-header:not([data-filled]) .tt-m-menu-toggle-btn-text {
	color: var(--tt-light-color);
}
[data-theme="light"].tt-posl-light-bg-on:not([data-menu-state]) #tt-header:not([data-filled]) .tt-m-menu-toggle-btn span::before, 
[data-theme="light"].tt-posl-light-bg-on:not([data-menu-state]) #tt-header:not([data-filled]) .tt-m-menu-toggle-btn span::after {
	background-color: var(--tt-light-color);
}

/* Make header buttons dark */
@media (min-width: 1025px) { 
	[data-theme="light"].tt-posl-light-bg-on #tt-header:not([data-filled]) .tt-btn-secondary {
		background-color: var(--tt-light-color);
	}
	[data-theme="light"].tt-posl-light-bg-on #tt-header:not([data-filled]) .tt-btn-secondary > *, 
	[data-theme="light"].tt-posl-light-bg-on #tt-header:not([data-filled]) .tt-btn-secondary > *::after {
		color: var(--tt-dark-color);
	}
	[data-theme="light"].tt-posl-light-bg-on #tt-header:not([data-filled]) .tt-btn-outline {
		box-shadow: inset 0 0 0 2px var(--tt-light-color);
	}
	[data-theme="light"].tt-posl-light-bg-on #tt-header:not([data-filled]) .tt-btn-outline > *, 
	[data-theme="light"].tt-posl-light-bg-on #tt-header:not([data-filled]) .tt-btn-outline > *::after {
		color: var(--tt-light-color);
	}
	[data-theme="light"].tt-posl-light-bg-on #tt-header:not([data-filled]) .tt-btn-link > *, 
	[data-theme="light"].tt-posl-light-bg-on #tt-header:not([data-filled]) .tt-btn-link > *::after {
		color: var(--tt-light-color);
	}
	[data-theme="light"].tt-posl-light-bg-on #tt-header:not([data-filled]) .tt-btn-line {
		background-color: var(--tt-light-color);
	}
}

/* Make portfolio slider elements dark */
[data-theme="light"].tt-posl-light-bg-on .tt-portfolio-slider,
[data-theme="light"].tt-posl-light-bg-on .tt-portfolio-slider a,
[data-theme="light"].tt-posl-light-bg-on .tt-posl-item-title,
[data-theme="light"].tt-posl-light-bg-on .tt-posl-item-title a,
[data-theme="light"].tt-posl-light-bg-on .tt-posl-item-category,
[data-theme="light"].tt-posl-light-bg-on .tt-posl-item-category a,
[data-theme="light"].tt-posl-light-bg-on .tt-portfolio-slider .tt-social-buttons > ul > li a,
[data-theme="light"].tt-posl-light-bg-on .tt-posl-nav-arrow,
[data-theme="light"].tt-posl-light-bg-on .tt-posl-pagination {
	color: var(--tt-light-color);
}

[data-theme="light"].tt-posl-light-bg-on .tt-posl-pagination-fraction .swiper-pagination-total::before,
[data-theme="light"].tt-posl-light-bg-on .tt-posl-pagination .swiper-pagination-bullet:not(.swiper-pagination-bullet-active),
[data-theme="light"].tt-posl-light-bg-on .tt-posl-pagination-progressbar .swiper-pagination-progressbar-fill {
	background-color: var(--tt-light-color);
}

[data-theme="light"].tt-posl-light-bg-on .tt-posl-nav-arrow svg {
	fill: var(--tt-light-color);
}

/* Make portfolio slider buttons dark */
[data-theme="light"].tt-posl-light-bg-on .tt-portfolio-slider .tt-btn-secondary {
	background-color: var(--tt-light-color);
}
[data-theme="light"].tt-posl-light-bg-on .tt-portfolio-slider .tt-btn-secondary > *, 
[data-theme="light"].tt-posl-light-bg-on .tt-portfolio-slider .tt-btn-secondary > *::after {
	color: var(--tt-dark-color);
}

[data-theme="light"].tt-posl-light-bg-on .tt-portfolio-slider .tt-btn-outline {
	box-shadow: inset 0 0 0 2px var(--tt-light-color);
}
[data-theme="light"].tt-posl-light-bg-on .tt-portfolio-slider .tt-btn-outline > *, 
[data-theme="light"].tt-posl-light-bg-on .tt-portfolio-slider .tt-btn-outline > *::after {
	color: var(--tt-light-color);
}

[data-theme="light"].tt-posl-light-bg-on .tt-portfolio-slider .tt-big-round-ptn-inner {
	color: var(--tt-light-color);
}
[data-theme="light"].tt-posl-light-bg-on .tt-portfolio-slider .tt-big-round-ptn-inner:hover, 
[data-theme="light"].tt-posl-light-bg-on .tt-portfolio-slider .tt-big-round-ptn-inner:focus {
	color: #FFF;
}

[data-theme="light"].tt-posl-light-bg-on .tt-portfolio-slider .tt-btn-link > *, 
[data-theme="light"].tt-posl-light-bg-on .tt-portfolio-slider .tt-btn-link > *::after {
	color: var(--tt-light-color);
}
[data-theme="light"].tt-posl-light-bg-on .tt-portfolio-slider .tt-btn-line {
	background-color: var(--tt-light-color);
}

/* Make portfolio slider cursor drag dark */
[data-theme="light"].tt-posl-light-bg-on #ball.ball-drag-mouse-down {
	border-color: var(--tt-light-color);
}
[data-theme="light"].tt-posl-light-bg-on #ball .ball-drag-mouse-down-inner {
	color: var(--tt-light-color);
}
