/* ------------------------------------------------------------- *
 * Page transitions
/* ------------------------------------------------------------- */

#tt-page-transition {
	display: none;
}
body.tt-transition #tt-page-transition {
	position: relative;
	display: block;
	z-index: 99999;
}

/* Transition overlay */
body.tt-transition .tt-ptr-overlay-top {
	position: fixed;
	display: block;
	top: 0;
	left: 0;
	width: 50%;
	height: 100vh;
	height: 100svh;
	background-color: var(--tt-page-trans-overlay-bg-color);
	z-index: 1;
}
body.tt-transition .tt-ptr-overlay-bottom {
	position: fixed;
	display: block;
	top: 0;
	right: 0;
	width: 50%;
	height: 100vh;
	height: 100svh;
	background-color: var(--tt-page-trans-overlay-bg-color);
	z-index: 1;
}

/* Transition preloader */
body.tt-transition .tt-ptr-preloader {
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 2;
	transform: translate(-50%, -50%);
}

body.tt-transition .tt-ptr-prel-content {
	margin-top: 10px;
	text-align: center;
	font-size: 28px;
	font-weight: bold;
	font-weight: 600;
	color: #444;
}

.tt-ptr-prel-image {
	max-height: 72px; /* You may need to change the img height to match your logo type! */
	opacity: .7; /* You may need to change the opacity as well! */
}


